<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.foodeats.menu.mapper.MenuMapper">

    <resultMap type="com.flab.foodeats.menu.model.MenuEssentialParam" id="menuEssentialParam">
        <result property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuPrice" column="menu_price"/>
        <result property="menuConfiguration" column="menu_configuration"/>
        <result property="menuGroup" column="menu_group"/>
    </resultMap>

    <resultMap type="com.flab.foodeats.menu.model.MenuOptionParam" id="menuOptionParam">
        <result property="menuOptionId" column="menu_option_id"/>
        <result property="menuOptionName" column="menu_option_name"/>
        <result property="menuOptionPrice" column="menu_option_price"/>
    </resultMap>

    <insert id="registerMenu">
        INSERT
        INTO shop_menu_register
        VALUES (#{shopId}, #{menuRegisterParam.menuId}, #{menuRegisterParam.menuName},
        #{menuRegisterParam.menuPrice}, #{menuRegisterParam.menuConfiguration}, #{menuRegisterParam.menuGroup});
    </insert>

    <insert id="registerOption">
        INSERT
        INTO shop_menu_option
        VALUES (#{shopId}, #{menuId}, #{menuOptionParam.menuOptionId},
        #{menuOptionParam.menuOptionName},#{menuOptionParam.menuOptionPrice});
    </insert>

    <select id="searchMenu" parameterType="int" resultMap="menuEssentialParam">
        SELECT menu_id, menu_name, menu_price, menu_configuration, menu_group
        FROM shop_menu_register
        WHERE shop_id = #{shopId};
    </select>

    <select id="searchMenuOption" parameterType="int" resultMap="menuOptionParam">
        SELECT menu_option_id, menu_option_name, menu_option_price
        FROM shop_menu_option
        WHERE menu_id = #{menuId};
    </select>
</mapper>
