<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.foodeats.shop.search.mapper.ShopSearchMapper">

    <select id="findShopByCategory" parameterType="String" resultType="SearchShopResultDTO">
        SELECT
            A.*
        FROM shop_info AS A
        JOIN shop_convenience_info AS B
            on A.shopid = B.shopid
        WHERE category = #{category}
        ORDER BY B.shopstatus DESC, B.grade;
    </select>

    <select id="findShopByBrand" parameterType="String" resultType="SearchShopResultDTO">
        SELECT
            A.*
        FROM shop_info AS A
        JOIN shop_convenience_info AS B
            on A.shopid = B.shopid
        WHERE brand LIKE CONCAT( '%', #{brand}, '%' )
        ORDER BY B.shopstatus DESC, B.grade;
    </select>
</mapper>
