<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.foodeats.infra.shop.ShopMapper">


    <!-- 가맹점 등록 (기본)  -->
    <insert id="registerEssentialInfo" parameterType="Essential">
        INSERT
        INTO shop_essential_info(shop_id,category,brand,location,phone)
        VALUES(#{Essential.shopId}, #{Essential.category}, #{Essential.brand}, #{Essential.location},
        #{Essential.phone});
    </insert>
    <!-- 가맹점 수정 (기본) -->
    <update id="updateEssentialInfo" parameterType="Essential">
        UPDATE shop_essential_info
        SET category = #{Essential.category}, brand = #{Essential.brand}, location = #{Essential.location},
        phone = #{Essential.phone}
        WHERE shop_id = #{Essential.shopId};
    </update>
    <!-- 가맹점 삭제 (기본) -->
    <delete id="deleteEssentialInfo" parameterType="Long">
        DELETE shop_essential_info.*
        FROM shop_essential_info
        WHERE shop_id = #{shopId};
    </delete>

    <!-- 가맹점 등록 (상태)  -->
    <insert id="registerStatusInfo" parameterType="Status">
        INSERT
        INTO shop_status_info(shop_id,open_time,close_time,closing_day)
        VALUES(#{Status.shopId}, #{Status.openTime}, #{Status.closeTime},
        #{Status.closingDay});
    </insert>
    <!-- 가맹점 수정 (상태) -->
    <update id="updateStatusInfo" parameterType="Status">
        UPDATE shop_status_info
        SET open_time = #{Status.openTime}, close_time = #{Status.closeTime}, closing_day = #{Status.closingDay}
        WHERE shop_id = #{Status.shopId};
    </update>
    <!-- 가맹점 삭제 (상태) -->
    <delete id="deleteStatusInfo" parameterType="Long">
        DELETE shop_status_info.*
        FROM shop_status_info
        WHERE shop_id = #{shopId};
    </delete>


    <!-- 가맹점 등록 (편리)  -->
    <insert id="registerConvenienceInfo" parameterType="Convenient">
        INSERT
        INTO shop_convenience_info
        VALUES(#{Convenient.shopId}, #{Convenient.grade}, #{Convenient.deliveryMethod}, #{Convenient.shopPaymentMethod});
    </insert>
    <!-- 가맹점 수정 (편리) -->
    <update id="updateConvenienceInfo" parameterType="Convenient">
        UPDATE shop_convenience_info
        SET grade = #{Convenient.grade}, delivery_method = #{Convenient.deliveryMethod}, shop_payment_method = #{Convenient.shopPaymentMethod}
        WHERE shop_id = #{Convenient.shopId};
    </update>
    <!-- 가맹점 삭제 (편리) -->
    <delete id="deleteConvenienceInfo" parameterType="Long">
        DELETE shop_convenience_info.*
        FROM shop_convenience_info
        WHERE shop_id = #{shopId};
    </delete>


    <resultMap type="Essential" id="essentialMap">
        <result property="shopId" column="shop_id"/>
        <result property="category" column="category"/>
        <result property="brand" column="brand"/>
        <result property="location" column="location"/>
        <result property="phone" column="phone"/>
    </resultMap>
    <select id="findEssentialByShopId" parameterType="Long" resultMap="essentialMap">
        SELECT *
        FROM shop_essential_info
        WHERE shop_id = #{shopId};
    </select>

    <resultMap type="Status" id="statusMap">
        <result property="shopId" column="shop_id"/>
        <result property="openTime" column="open_time"/>
        <result property="closeTime" column="close_time"/>
        <result property="shopOpenStatus" column="shop_open_status"/>
        <result property="closingDay" column="closing_day"/>
    </resultMap>
    <select id="findStatusByShopId" parameterType="Long" resultMap="statusMap">
        SELECT *
        FROM shop_status_info
        WHERE shop_id = #{shopId};
    </select>

    <resultMap type="Convenient" id="convenientMap">
        <result property="shopId" column="shop_id"/>
        <result property="grade" column="grade"/>
        <result property="deliveryMethod" column="delivery_method"/>
        <result property="shopPaymentMethod" column="shop_payment_method"/>
    </resultMap>
    <select id="findConvenienceByShopId" parameterType="Long" resultMap="convenientMap">
        SELECT *
        FROM shop_convenience_info
        WHERE shop_id = #{shopId};
    </select>



    <select id="shopListAllInfo" resultMap="essentialMap">
        SELECT *
        FROM shop_essential_info;
    </select>
    <!-- 가맹점 상태 오픈 -->
    <update id="startShop" parameterType="Status">
        UPDATE shop_status_info
        SET shop_open_status = "OPEN"
        WHERE shop_id = #{Status.shopId};
    </update>
    <!-- 회원 상태 마감 -->
    <update id="closeShop" parameterType="Status">
        UPDATE shop_status_info
        SET shop_open_status = "CLOSE"
        WHERE shop_id = #{Status.shopId};
    </update>

    <select id="findShopIdByMerchantId" parameterType="String" resultType="int">
        SELECT shop_id
        FROM shop_essential_info
        WHERE user_id = #{userId};
    </select>

</mapper>
