<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.foodeats.search.mapper.ShopSearchMapper">

    <select id="findShopByCategory" parameterType="String" resultType="SearchShopResultDTO">
        SELECT
            A.*
        FROM shop_essential_info AS A
        JOIN shop_delivery_area AS B
            on A.shop_id = B.shop_id
        WHERE A.category = #{category}
            AND B.delivery_location = #{address}
    </select>

    <select id="findShopByBrand" parameterType="String" resultType="SearchShopResultDTO">
        SELECT
            A.*
        FROM shop_essential_info AS A
        JOIN shop_delivery_area AS B
            on A.shopid = B.shopid
        WHERE match(A.brand) against(#{brand})
            AND B.delivery_location = #{address}
    </select>
</mapper>
